#app-content-wrapper {
    height: 100%;
}

#editor {
    height: auto;
    width: auto;
    margin: 30px;
    border: 1px solid #cccccc;
}

#editor .input {
    height: calc(50% - 51px);
    width: 100%;
    padding: 12px 12px 9px 12px;
}

#editor .input label {
    margin-right: 12px;
}

#editor .save {
    height: 50px;
    width: 100%;
    text-align: left;
    border-top: 1px solid #ccc;
    background-color: #fafafa;
}

#editor textarea {
    height: 100%;
    width: 100%;
    border: 0;
    margin: 0;
    border-radius: 0;
    overflow-y: auto;
}

#editor button {
    height: 44px;
    margin-left: 12px;
}